body {
  padding: 10%;
  background-color: black;
}

.text-console {
  font-size: 5vw;
  font-family: 'Lucida Console';
  color: lawngreen;
}

.text-console-xs {
  font-size: 3vw;
  font-family: 'Lucida Console';
  color: lawngreen;
}